.input-component {
  background: white}
input {
  margin-top: 300px;
  padding: 8px;
  width: 400px;
  border-radius: 2px 2px 2px 2px


}
button {
  margin-top: 300px;
  background-color: #3356d6;
  color: #bdc2c4;
  padding: 8px;

}

